.left {
    display: flex;
    flex-direction: column-reverse;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 40px;
    width: 100%;
}

.form_text {
    font-family: "TT-Norms-Pro-Bold";
    font-size: 30px;
    letter-spacing: 1px;
}

.row-one {
    display: flex;
    justify-content: space-between;
    padding: 70px 15px 15px 15px;
}

.row-sec {
    display: flex;
    justify-content: space-between;
    padding: 40px 15px 15px 15px;
}

form {
    width: 50%;
}

input,
select {
    width: 75%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #A9A9A9;
    font-size: 15px;
}

select {
    width: 82%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/img_form/Polygon\ 1.png') no-repeat right center;
    background-position-x: 95%;
}

.row-third {
    display: flex;
    justify-content: space-between;
    padding: 70px 15px 15px 15px;
}

.row-third form {
    width: 100%;
}

.row-third form input {
    width: 87.5%;
}

.sent {
    margin: auto;
    padding: 15px 125px;
    border: none;
    color: white;
    background-color: black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: ease 0.6s all;
    cursor: pointer;
}

.sent:hover {
    background-color: rgb(70, 69, 69);
    transition: ease 0.6s all;
}

.right2 button img {
    margin-top: -5px;
    transition: ease all 0.6s;
}

.right2 button {
    border: none;
    background-color: white;
    box-shadow: none;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 10px;
    background-image: url(../img/img_form/Vector-hover.png);
    cursor: pointer;
    background-repeat: no-repeat;
}

.right2 button img:hover {
    opacity: 0;
    transition: ease all 0.6s;
}

.page-wrapper2 button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    width: 400px;
    height: 50px;
    box-shadow: none;
}

.active {
    opacity: 1;
    display: flex;
    width: 900px;
    height: 550px;
}

.no-overflow {
    overflow: hidden;
}

@media (max-width: 768px) {
    .left img {
        display: none;
    }
    .page-wrapper {
        width: 90%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .active {
        z-index: 101;
    }
}
@media (max-width: 380px) {
    .page-wrapper {
        width: 100%;
    }
    .active {
        z-index: 101;
    }
    .right {
        padding: 10px 10px 0 10px;
    }
    .form_text {
        font-size: 20px;
        text-align: center;
    }
}