* {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #1C1C1C;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#page-wrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
#page-wrapper p:first-of-type{
    color: white;
    font-family: "TT-Norms-Pro-Regular";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-bottom: 10px;
}
#page-wrapper p:last-of-type {
    color: white;
    font-family: "TT-Norms-Pro-Bold";
    text-align: center;
    font-size: 45px;
}
main:last-of-type {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25vh;
    padding: 30px 0;
}
.nav a {
    text-decoration: none;
    font-family: "TT-Norms-Pro-Regular";
    color: #000000;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    transition: 0.6s all ease;
}
.nav a:hover {
    border: 1px solid #000000;
    transition: 0.6s all ease;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
    padding-bottom: 50px;
  }
  
  .div1 {
    position: relative;
    grid-area: 1 / 1 / 3 / 3;
  }
  
  .div2 {
    position: relative;
    grid-area: 1 / 3 / 3 / 5;
  }
  
  .div3 {
    position: relative;
    grid-area: 1 / 5 / 5 / 7;
  }
  
  .div4 {
    position: relative;
    grid-area: 3 / 1 / 5 / 3;
  }
  
  .div5 {
    position: relative;
    grid-area: 3 / 3 / 5 / 5;
  }
  
  .div6 {
    position: relative;
    grid-area: 5 / 1 / 7 / 5;
  }
  
  .div7 {
    position: relative;
    grid-area: 5 / 5 / 7 / 7;
  }
  
  .medium {
    width: 367px;
    height: 255px;
  }
  
  .vertikal {
    width: 367px;
    height: 515px;
  }
  
  .horizontal {
    width: 740px;
    height: 255px;
  }
  
  .block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: none;
  }
  
  .block__h2 {
    margin: 10px 0 0 15px;
    font-family: "TT-Norms-Pro-Regular";
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
  }
  
  .block__p {
    margin: 5px 0 0 15px;
    font-family: "TT-Norms-Pro-bold";
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .grid__div img {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  
  .grid__div:hover .block {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
  }
  
  .block__link {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

@media (max-width: 768px) {
    .container {
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    .div2 {
        grid-area: 1 / 3 / 3 / 5;
    }
    .div3 {
        grid-area: 7 / 1 / 11 / 3;
    }
    .div6 {
        grid-area: 5 / 0 / 5 / 7;
    }
    .div7 {
        grid-area: 7 / 3 / 9 / 5;
    }
    .div8 {
        position: relative;
        grid-area: 9 / 3 / 11 / 5;
    }
    .grid__div .block {
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
    }
}
@media (min-width: 770px) {
    .div8 {
        display: none;
    }
}